.btn {
  &-manual {
    background-color: $main-color;
    color: #fff;
    &:hover {
      background-color: #49566d;
      color: #fff;
      outline: 0;
    }

    &-outline {
      border: 1px solid #cdc2ae;
      &:hover {
        color: #fff;
        background-color: $main-color;
      }
    }
  }
  &:hover {
    outline: 0;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
}
